@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-porto: rgb(15 23 42 / 1);
}

body {
  margin: 0;
  background-color: var(--bg-porto) !important;
}

.porto-bg {
  background-color: var(--bg-porto);
}

.light-txt {
  color: #F5F5F5 !important;
}

.cyan-txt {
  color: #0891b2 !important;
}